<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <!-- http://getbootstrap.com/docs/5.3/ -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

    <!-- https://favicon.io/emoji-favicons/money-bag/ -->
    <link href="/static/favicon.ico" rel="icon" />
    <link href="/styles.css" rel="stylesheet" />

    <title>S T O N K S</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-md">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"
          ><span class="yellow">$</span> <span class="white">T O N K S</span></a
        >
        <button
          aria-controls="navbar"
          aria-expanded="false"
          aria-label="Toggle navigation"
          class="navbar-toggler"
          data-bs-target="#navbar"
          data-bs-toggle="collapse"
          type="button"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav me-auto mt-2">
            <li class="nav-item">
              <a class="navlink" href="/quote">Quote</a>
            </li>
            <li class="nav-item"><a class="navlink" href="/buy">Buy</a></li>
            <li class="nav-item">
              <a class="navlink" href="/sell">Sell</a>
            </li>
            <li class="nav-item">
              <a class="navlink" href="/transactions">Transactions</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto mt-2">
            <% if( !isAuth ) { %>
            <li class="nav-item">
              <a class="navlink" href="/signup">Register</a>
            </li>
            <li class="nav-item">
              <a class="navlink" href="/login">Log In</a>
            </li>
            <% } else { %>
            <li class="nav-item">
              <a class="navlink" href="/logout">Log Out</a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>

    <header>
      <% if(errorMessage){ %>
        <div class="alert-st mb-0 text-center"><%= errorMessage %></div>
      <% } %>
    </header>
  </body>
</html>
