<%- include('includes/navigation.ejs') %>

<h1 class="page-title">BUY STOCKS</h1>
<% if(errorMessage){ %>
<div><%= errorMessage %></div>
<% } %>
<div class="content">
  <form action="/buy" method="post" class="mx-auto w-auto">
    <input type="text" name="symbol" placeholder="Ticker" />
    <input
      type="number"
      step="any"
      name="shares"
      placeholder="Number of shares"
    />
    <button type="submit">Buy Stock</button>
  </form>
</div>

<%- include('includes/end.ejs') %>
