<%- include('includes/navigation.ejs') %>

<h1 class="page-title">STONKS</h1>
<h3>CS50 Final Project</h3>
<div class="presentation-content">
  <h4>Rafael Reis Araújo</h6>
  <p>Github / edX: rafa-ra</p>
  <p>Belo Horizonte - Brazil</p>
  <p>March/23 - 2024</p>
</div>

<%- include('includes/end.ejs') %>
